/* Empty. Add your own CSS if you like */
html, body, a {
    height:100%;
    margin:0;
}

h3{
	text-align: center;
}

img.crowdpicListImg {
  width: 48%;
}

@media (min-width: 700px) {
  img.crowdpicListImg {
    width: 32%;
  }
}


@media (min-width: 1000px) {
    img.crowdpicListImg {
      width: 24%;
    }
}

img.purchased, img.favorited, img.uploaded {
  padding: 6px; 
}
img.purchased {
  background-color: LimeGreen;
}
img.uploaded {
  background-color: DodgerBlue;
}
img.favorited {
  background-color: GoldenRod;
}
 
img.crowdpicDetailImg {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:90%;
  box-shadow: 3px 3px grey; 
}

button.logoutButton{
  margin-bottom: 10%;
}

.larger{
  font-size: 36px;
}

#card{
  padding-top: 13px;
  font-size: 24px;
}