<ion-view name="login-view">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="data.user.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.user.password">
      </label>
    </div>

    <label class="item">
      <button class="button button-block button-positive" ng-click="fbLogin()">
        Login with Facebook
      </button>
    </label>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="login()">Login</button>
    </div>
    
    <div class="padding">
      <a class="button button-block" href="#/register">Register Instead</a>
    </div>
  </ion-content>
</ion-view>