<ion-view view-title="My Credit Card">
  <ion-nav-buttons side="secondary">

  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="row" ng-show="card">
      <div class="col col-25">
      <i class="icon ion-card larger"></i>
      </div>
      <div id="card" class="col col-75">
      {{cardNumber}}
      </div>
      </div>
    <div class="list">
    <div class="row">
    <div class="col">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="">
  </label>
  </div>
  <div class="col">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="">
  </label>
  </div>
  </div>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Card Number</span>
    <input type="text" placeholder="" ng-model="cardNumber">
  </label>
      <div class="row">
    <div class="col">
  <label class="item item-input item-stacked-label">
    <span class="input-label">CVV</span>
    <input type="text" placeholder="">
  </label>
  </div>
  <div class="col">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Exipration</span>
    <input type="text" placeholder="MM/DD">
  </label>
  </div>
  </div>
</div>
<div class="row">
<button class="button button-block button-calm" ng-click="showAlert()">
  Add Card 
</button>
</div>
  </ion-content>
</ion-view>

