<ion-view view-title="Photo Detail">
  <ion-content class="padding">
    <img ng-src="{{photo.photo_url}}" style="width: 300px; height: 300px">
    <div>Time derived from EXIF: {{photo.time}}</div>
    <div>Posted at: {{photo.created_at}}</div>
    <div>Copyright status: {{photo.copyright}}</div>
    <div>Location:  {{photo.location}}</div>
    <div>Event:  {{photo.event}}</div>
    <div ng-show="photo.current_user_uploaded">
      <button class="button button-assertive" ng-hide="deleting" ng-click="deletePhoto()">Delete</button>
      <button class="button button-assertive" ng-show="deleting">Deleting</button>
    </div>
    <a target="_self" href="{{photo.photo_url}}" download="img.jpg">
  </ion-content>
</ion-view>