<!--search box-->
  <div class="row">
    <div class="col">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="searchParams.search" ng-change="change()" placeholder="Search">
    </label>
    </div>
  </div>
  <div class="row">
  
    <div class="col">
    <label class="item item-input item-select">
      Sort
      <select ng-model="searchParams.sort" ng-change="change()">
        <option value="created_at">Recent</option>
        <option value="most_purchased">Purchased</option>
        <option value="most_favorited">Popularity</option>
      </select>
    </label>
    </div>
        
    <div class="col">
    <label class="item item-input item-select">
      Price
      <select ng-change="change()" ng-model="searchParams.copyright">
        <option value="">--</option>
        <option value="1">Pay-to-own</option>
        <option value="0">Free-to-own</option>
      </select>
    </label>
    </div>
  </div>

<hr/>
<!--list of results-->
  <div data-ng-show="eventsEmpty">
    <div class="row">
      <div class="col text-center">
        None found.
      </div>
    </div>
  </div>
  <div data-ng-hide="eventsEmpty" class="list card" style="-webkit-flex-wrap: wrap; flex-wrap: wrap;">
    <div ng-repeat="event in events">
      <h5 class="item item-divider" ng-model="event.name">{{event.name}}</h5>
      <div class="item item-body">
        <span ng-repeat="photo in event.photos">
          <a ng-href="#/tab/{{title}}/{{photo.id}}">
            <img class="crowdpicListImg" ng-src="{{photo.photo_url}}"/>
          </a>
        </span>
      </div>
    </div>
  </div>