<ion-view view-title="My Photos">
  <ion-content class="has-header">
      <div class="col text-center">
        <div flow-init flow-image-resize flow-name="flow.flow" flow-files-added="processFiles($files)">
          {{$flow.files.length}} photo(s) selected to upload
          
          <div style="padding: 10px;">
            <span ng-repeat="file in $flow.files">
              <img my-flow-img="file"/><!-- <li>{{file.size}}</li>-->
            </span>
          </div>
        
          <div class="button" flow-btn>Select photos to upload</div>
          <div class="button button-light" ng-click="flow.flow.cancel()">Reset Files</div>
  
          <div class="row">
            <div class="col">
              <label class="item item-input item-select">
              <div class="input-label">
                Event
              </div>
              <select ng-model="upload.event" ng-change="showCustomEventChange()">
                <option value="Custom">Custom</option>
                <option ng-repeat="current_event in current_events track by $index" value="{{current_event}}">{{current_event}}</option>
              </select>
            </label>
            </div>
          </div>
  
          <div class="row" ng-show="showCustomEvent">
            <div class="col">
              <label class="item item-input">
              <div class="input-label">
                Custom Event
              </div>
              <input ng-model="custom.event">
            </label>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <label class="item item-input item-select">
              <div class="input-label">
                Location
              </div>
              <select ng-model="upload.location" ng-change="showCustomLocationChange()">
                <option value="Custom">Custom</option>
                <option ng-repeat="location in locations track by $index" value="{{location}}">{{location}}</option>
              </select>
            </label>
            </div>
          </div>
          
          <div class="row" ng-show="showCustomLocation">
            <div class="col">
              <label class="item item-input">
              <div class="input-label">
                Custom Location
              </div>
              <input ng-model="custom.location">
            </label>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <ion-toggle ng-model="upload.copyright" toggle-class="toggle-calm">
                Retain Copyright
              </ion-toggle>
            </div>
          </div>
          
          <button class="button-calm button" ng-click="saveUpload()">
              <span data-ng-hide="loading">
              Upload 
              </span>             
              <span data-ng-show="loading">
              Uploading
              <i class="fa fa-spinner fa-spin"></i>
              </span>
          </button>
        </div>
      </div>
      <br/>
      <hr/>
      <photos-list></photos-list>
  </ion-content>
</ion-view>
