<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item> Favorites
          <a href="#/tab/account/user-favorites-log">
            <span class="badge badge-energized">
              {{account.favorites}}&nbsp;&nbsp;
              <i class="icon-right ion-chevron-right"></i>
            </span>
          </a>
      </ion-item>
      <ion-item> Favorited by Others
          <a href="#/tab/account/rev-user-favorites-log">
            <span class="badge badge-stable">
              {{account.favorited}}&nbsp;&nbsp;
              <i class="icon-right ion-chevron-right"></i>
            </span>
          </a>
      </ion-item>
      <ion-item> Purchases
          <a href="#/tab/account/user-purchases-log">
            <span class="badge badge-balanced">
              {{account.purchases}}&nbsp;&nbsp;
              <i class="icon-right ion-chevron-right"></i>
            </span>
          </a>
      </ion-item>
      <ion-item> Sales
          <a href="#/tab/account/rev-user-purchases-log">
            <span class="badge badge-calm">
              {{account.purchased}}&nbsp;&nbsp;
              <i class="icon-right ion-chevron-right"></i>
            </span>
          </a>
      </ion-item>
      <ion-item> Purchasing Balance
         <span class="badge badge-positive">{{account.balance}}</span>
      </ion-item>
    </ion-list>
      
    <ion-list>
      <ion-item> Most Recent Sign-in
         <span class="badge badge-stable">{{account.last_sign_in_at}}</span>
      </ion-item>
       <ion-item> User Since
         <span class="badge badge-stable">{{account.created_at}}</span>
      </ion-item>  
  </ion-list>
    <br/><br/>
  <ion-list>
    <ion-toggle  ng-model="account.wifi">
        Use Cellular Data
    </ion-toggle>  
  </ion-list>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="logout()">Logout</button>
    </div>
  </ion-content>
</ion-view>
