<ion-view view-title="Explore">
      <ion-view view-title="Explore">
  <ion-content class="has-header">

  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>

  <div class="row">
  <div class="col">
    <label class="item item-input item-select">
    <div class="input-label">
      Time
    </div>
    <select>
      <option>Today</option>
      <option selected>This Week</option>
      <option>This Month</option>
    </select>
  </label>
</div>
  <div class="col">

    <label class="item item-input item-select">
    <div class="input-label">
      Sort
    </div>
    <select>
      <option>Newst</option>
      <option selected>Oldest</option>
    </select>
  </label>
  </div>

</div>
</div>
  <h3>Featured</h3>
    <div class="list card">
      <div class="item item-divider">Donut Dash</div>
      <div class="item item-body">
        <div class="row">
  <div class="col"><img src="img/1.jpg" width="150" height="150"></div>
  <div class="col"><img src="img/2.jpg" width="150" height="150"></div>
</div>
        <div class="row">
  <div class="col"><img src="img/3.jpg" width="150" height="150"></div>
  <div class="col"><img src="img/4.jpg" width="150" height="150"></div>
</div>
      </div>
          <p>
      <a href="#" class="subdued">Yesterday</a>
      <a href="#" class="subdued">@ Carnegie Mellon University</a>
    </p>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
