<ion-view view-title="Information">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Licensing
      </div>
      <div class="item item-text-wrap">
        <p>You own your photos. For any photos you upload which are for License Only, users must purchase an indefinite license to use your photo for commercial purposes.
        You may disable this option; this will signifiy that your uploads are available for any use by anyone, without condition. 
        </p>
        <p>
          Note that several uses of photos (such as journalism, education, etc.) may be entitled to the Fair Use exemption regardless of how you upload your photos.
      </div>
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Events and Locations
      </div>
      <div class="item item-text-wrap">
        <p>
        Events are recurring or one-time occassions, at which photos were taken. Locations are places that don't change, where events take place.
        You can enter your own, or use one of our automatically detected locations based on your own location or the location embedded in your photos' EXIF data.
        </p>
      </div>
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Multiple File Upload
      </div>
      <div class="item item-text-wrap">
        <p>
        For convenience, you may upload multiple files at once (all of which share the same location, event, and licensing status) or you may upload individually. 
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
